body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: black;
}
/*HEADER*/
.backimg{
    height: 100%;

}
.backimg img{
    width: 1340px;
    height: 660px;
    opacity: 0.3;
    position: absolute;
    
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 165px;
    padding-left: 40px;
}
.nav{
    padding-right: 57px;
    padding-top: 30px;
    align-items: center;
}
.signin{
    padding-top: 20px;
    background-color:RGB(229, 9, 20);
    color: white;
    border: 0px;
    border-radius: 3px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 8px 17px;
}
.language{
    border: 1px solid white;
    border-radius: 2px;
    padding: 7px 18px;
    margin-right: 27px;
    color: white;
    background-color: transparent;
    font-size: 16px;
    width: 120px;
}

/*CENTER*/
.center{
    position: relative;
    color: white;
    text-align: center;
    padding-top: 100px;
}
.principal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: 0px;
}
.subtitle{
    padding-top: 0px;
    font-size: 22px;
    font-family: sans-serif;
}
.ready{
    font-size: 19px;
    font-family: sans-serif;
    padding-top: 11px;
}
.emailoptions{
    margin: 0px;
    border: 0px;
    padding: 0px;
    align-items: center;
}
#email{
padding: 18px 100px;
color: RGB(140, 140, 140);
font-size: 20px;
border: 0px;
text-align: left;
}
.getstarted{
    background-color: RGB(229, 9, 20);
    border: 0px;
    padding: 14px 30px;
    font-size: 27px;
    color: white;
}
/*First Scroll*/

.firstscroll{
    border: 0px;
    border-top: 7px solid RGB(34, 34, 34);
    border-bottom: 7px solid RGB(34, 34, 34);
    margin-top: 157px ;
    height: 465px;
    padding-top: 10px ;
    color: white;
    display: flex;
}
.firstmidia{
    display: flex;
    padding-right: 110px;
    padding-left: 100px;
}
.tvimg{
    position: absolute;
    width: 490px;
    padding-top: 20px;
}
.tvvideo{
    position: relative;
    width: 490px;
    height: 200px;
    padding-top: 100px;
}
.descriptiontv{
    font-family: Arial, Helvetica, sans-serif;
    padding-left:125px;
    padding-top: 100px;
}
#description{
    font-size: 45px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#subdescription{
    font-size: 25px;
    width: 500px;
    padding-top: 0px;
}

/*SecondScroll*/

.secondcroll{
    border: 0px;
    border-top: 0px;
    border-bottom: 7px solid RGB(34, 34, 34);
    margin-top: 0px ;
    height: 465px;
    padding-top: 10px ;
    color: white;
    display: flex;
}
.secondmidia{
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
}
.cellimg{
    position: absolute;
    width: 490px;
    padding-top: 25px;
    padding-left: 50px;
}
.descriptioncell{
    font-family: Arial, Helvetica, sans-serif;
    padding-left:220px;
    padding-top: 130px;
}
#description{
    font-size: 45px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#subdescription{
    font-size: 25px;
    width: 500px;
    padding-top: 0px;
}
.indicationcard{
    display: flex;
    position: relative;
    background-color: black;
    width: 310px;
    height: 90px;
    border: 2px solid RGB(64, 64, 64);
    border-radius: 12px;
    margin-top: 275px;
    margin-left: 130px;
}
.boxindication{
    width: 55px;
    padding: 5px 12px;
}
.indicationtext h3,p{
    border: 0px;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.indicationtext h3{
    padding-top: 25px;
    font-size: 18px;
}
.indicationtext p{
    font-size: 15px;
    color: RGB(0, 36, 197);
}
.downloadicon{
    padding-left: 35px;
    padding-top: 30px;
}

/*ThirtyScroll*/
.thirdscroll{
    border: 0px;
    border-top: 0px;
    border-bottom: 7px solid RGB(34, 34, 34);
    margin-top: 0px ;
    height: 465px;
    padding-top: 10px ;
    color: white;
    display: flex;
}
.devicesvideo{
    position: relative;
    width: 300px;
    height: 200px;
    padding-top: 50px;
    padding-left: 90px;
}

/*LastScroll*/

.lastmidia{
    padding-right: 0px;
    padding-left: 70px;
}
.descriptionlast{
    font-family: Arial, Helvetica, sans-serif;
    padding-left:600px;
    padding-top: 130px;
}

/*Asked*/

.asked{
    padding: 0px;
    border: 0px;
    margin: 0px;
    border-bottom: 7px solid RGB(34, 34, 34);
    align-items: center;
    text-align: center;
}
.frequently{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 70px;
}
.ask{
    text-align: start;
    background-color:RGB(48, 48, 48) ;
    width: 825px;
    height: 75px;
    margin-left: 255px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.question{
    padding:22px 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#plusicon{
    width: 40px;
    padding-right: 30px;
}
.askedtext{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 20px;
}
#lastemail{
    padding-bottom: 70px;
}

/*Contact*/

.footer{
    color: RGB(115, 115, 115);
}
.contact{
    display: flex;
    justify-content: space-between;
    padding-top: 10px ;
    padding-left: 220px;
    width: 800px;
}
.links p{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.number{
    padding: 80px 220px; 
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.selectfooter{
    padding-top: 40px;
    padding-left: 220px;
}
.languagefooter{
    border: 1px solid RGB(115, 115, 115);
    border-radius: 2px;
    padding: 7px 30px;
    margin-right: 27px;
    color: RGB(115, 115, 115);
    background-color: transparent;
    font-size: 16px;
    width: 150px;
    height: 50px;
}
.textfooter{
    padding-top: 40px;
    padding-left: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 40px;
}